@use "function.scss" as f;
@use "colors.scss" as c;

@mixin article-card($c, $c) {
  color: $c;
  border: 2px solid $c;
  font-size: f.rem();
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 0, 0);
  padding: 10px;
}
h1 {
  text-decoration: underline;
  color: c.$tertiary;
  text-decoration-color: c.$underline-color;
  display: flex;
  justify-content: center;
}

article {
  border: 1px solid c.$tertiary;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  padding: 20px;
  align-items: center;
  font-size: 0.8em;
}

.box {
  flex-direction: row;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

#odd {
  @include article-card(c.$secondary, c.$tertiary);
}

#even {
  @include article-card(c.$primary, c.$tertiary);
}

#footer {
  @include article-card(c.$tertiary, c.$secondary, 24px);
}
