@use "function.scss" as f;
@use "colors.scss" as c;

@mixin article-card($c, $bordercolor) {
  color: $c;
  border: 2px solid $bordercolor;
  font-size: f.rem(16px);
  padding: 10px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 0, 0);
  padding: 10px;
  font-size: f.rem(16px);
}
h1 {
  text-decoration: underline;
  color: c.$tertiary;
  text-decoration-color: c.$underline-color;
  display: flex;
  justify-content: center;
}

.subtitle {
  border: 1px solid c.$tertiary;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  font-size: 1rem;
  color: c.$tertiary;
  margin-top: 20px;
  margin-bottom: 10px;
}

article {
  border: 1px solid c.$tertiary;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  padding: 20px;
  align-items: center;
  font-size: 0.8em;
}

.box {
  flex-direction: row;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

#odd {
  @include article-card(c.$secondary, c.$tertiary);
}

#even {
  @include article-card(c.$primary, c.$tertiary);
}

#footer {
  @include article-card(c.$tertiary, c.$secondary);
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

$darken: 0;
$lighten: 5;

@for $var from 1 to 20 {
  .number div:nth-child(#{$var}) {
    border: solid 1px red;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    background-color: darken(white, ($var * 5));
    $darken: $darken + 5%;
    color: lighten(black, ($var * 5));
    @if $var == 10 {
      background-color: blue;
      color: red;
    }
  }
}

$font-size: 1rem 2rem 3rem;

@each $size in $font-size {
  .fs-#{$size} {
    font-size: $size;
  }
}
